@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/global.css */

.story {
    position: relative;
    width: 300px;
    height: 500px;
}

.story img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: #fff;
}
